<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APO</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">

            <ui:param name="titulo" value="página" />

            <ui:define name="conteudo">
                <f:view contentType="text/html">
                    <h:form>
                        <p:growl id="growl" showDetail="false" life="5000"/>
                        <center>
                            <h3>#{SessionController.questionarioCategoria.nome}</h3>                   
                        </center>
                        <c:forEach items="#{AvaliacaoController.categorias}" var="c">
                            <p:panel header="#{c.nome}">
                                <h:outputText value="#{c.texto}"/><br/><br/>
                                <c:forEach items="#{c.perguntas}" var="p">
                                    <h:outputText value="#{p.texto}" /><br/>
                                    <h:outputText value="#{p.comentario}"/>
                                    <p:selectManyCheckbox style="margin-top: 5px" value="#{p.respostas}" rendered="#{p.tipo eq 2}">
                                        <c:forEach items="#{p.qualificadores}" var="q">
                                            <f:selectItem itemLabel="#{q.texto}" itemValue="#{q.texto}" />
                                        </c:forEach>
                                    </p:selectManyCheckbox>

                                    <p:inputTextarea autoResize="true" rendered="#{p.tipo eq 1}" value="#{p.resposta}"
                                                     style="width: 400px; height: 150px; margin-top: 5px" />

                                    <p:selectOneRadio style="margin-top: 5px" value="#{p.resposta}" rendered="#{p.tipo eq 3}">
                                        <c:forEach items="#{p.qualificadores}" var="q">
                                            <f:selectItem itemLabel="#{q.texto}" itemValue="#{q.texto}" />
                                        </c:forEach>
                                    </p:selectOneRadio>

                                    <p:spinner style="margin-top: 5px" value="#{p.nota}" min="#{p.qualificador.inicio}"
                                               max="#{p.qualificador.fim}" rendered="#{p.tipo eq 4}" />
                                    <br/><br/>
                                </c:forEach>
                            </p:panel><br/>
                        </c:forEach>
                        <center>
                            <p:commandButton value="Salvar" action="#{AvaliacaoController.salvar}" ajax="true" update="growl"
                                             style="margin-top: 10px" />
                        </center>

                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>