<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:comp="http://java.sun.com/jsf/composite/comp">
   <h:head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>APO</title>
   </h:head>
   <h:body>

      <ui:composition template="index.xhtml">

         <ui:param name="titulo" value="página"/>

         <ui:define name="conteudo">

            <f:view contentType="text/html">


               <h:form id="form1">

                  <center>
                     <h3>Gerenciar Perguntas: #{SessionController.questionarioCategoria.nome}</h3>
                  </center>
                  <center>
                     <p:commandButton action="#{PerguntaController.resetCategoria}" value="Nova categoria" oncomplete="cat.show()"
                                      ajax="true" icon="ui-icon-circle-plus" update="@form"/>
                     <p:commandButton action="avaliacao.xhtml" icon="ui-icon-search" immediate="true"
                                      ajax="false" style="margin-top: 20px; margin-left: 10px">
                        <f:setPropertyActionListener value="#{PerguntaController.categorias}" target="#{SessionController.categorias}"/>
                     </p:commandButton>
                  </center>

                  <p:tabView id="tab" style="margin-top: 20px" effect="clip" >
                     <c:forEach items="#{PerguntaController.categorias}" var="c">
                        <p:tab title="#{c.nome} (#{c.id})">
                           <center>
                              <p:commandButton action="#{PerguntaController.resetPergunta}" value="Nova Pergunta"
                                               oncomplete="perg.show()" ajax="true" icon="ui-icon-circle-plus" update="@form">
                                 <f:setPropertyActionListener value="#{c}" target="#{PerguntaController.categoria}" />
                              </p:commandButton>

                              <p:commandButton icon="ui-icon-pencil" title="Editar categoria" oncomplete="cat.show()"
                                               ajax="true" style="margin-top: 20px; margin-left: 10px" update="@form" >
                                 <f:setPropertyActionListener value="#{c}" target="#{PerguntaController.categoria}" />
                              </p:commandButton>
                           </center>
                           <center>
                              <p:dataTable value="#{c.perguntas}" var="p" paginator="false" style="margin-top: 10px" >
                                 <p:column style="width: 10px">
                                    <f:facet name="header">
                                       ID
                                    </f:facet>
                                    <h:outputText value="#{p.id}" />
                                 </p:column>

                                 <p:column style="width: 900px">
                                    <f:facet name="header">
                                       Perguntas
                                    </f:facet>
                                    <h:outputText value="#{p.texto}" />
                                 </p:column>

                                 <p:column style="width:20px">
                                    <p:commandButton action="#{PerguntaController.prepararEdicao}" oncomplete="perg.show()" 
                                                     icon="ui-icon-pencil" value="Editar"
                                                     title="Editar" update="@form">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px">
                                    <p:commandButton oncomplete="conc.show()" value="Conceitos"
                                                     action="#{PerguntaController.prepararConceitosPergunta}"
                                                     title="Conceitos" update="@form">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                       <f:setPropertyActionListener value="#{c}" target="#{PerguntaController.categoria}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px">
                                    <p:commandButton oncomplete="comodo.show()" value="Cômodos"
                                                     action="#{PerguntaController.prepararComodos}"
                                                     title="Cômodos" update="@form">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px">
                                    <p:commandButton oncomplete="atributo.show()" value="Atributos"
                                                     action="#{PerguntaController.prepararAtributos}"
                                                     title="Atributos" update="@form">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px" rendered="#{false}">
                                    <p:commandButton oncomplete="icone.show()" icon="ui-icon-image" update="@form"
                                                     title="Ícones" action="#{PerguntaController.prepararIcones}">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px">
                                    <p:commandButton oncomplete="confirmation.show()" icon="ui-icon-trash"
                                                     title="Excluir" value="Excluir">
                                       <f:setPropertyActionListener value="#{p}" target="#{PerguntaController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>

                                 <p:column style="width:20px" rendered="#{false}">
                                    <p:commandButton icon="ui-icon-info" action="grafico.xhtml" ajax="false"
                                                     title="Gráfico" >
                                       <f:setPropertyActionListener value="#{p}" target="#{SessionController.pergunta}"/>
                                    </p:commandButton>
                                 </p:column>
                              </p:dataTable>
                           </center>
                        </p:tab>
                     </c:forEach>
                  </p:tabView>

                  <p:dialog id="categoria" header="Criar nova categoria" widgetVar="cat" modal="true" >
                     <h:panelGrid border="0" columns="2" cellpadding="10px">
                        <h:outputText value="Nome:" />
                        <p:inputText value="#{PerguntaController.categoria.nome}" style="width: 400px" />

                        <h:outputText value="Comentário:" />
                        <p:inputTextarea value="#{PerguntaController.categoria.texto}" autoResize="true"
                                         style="width: 400px; height: 150px" />
                     </h:panelGrid>
                     <p:commandButton value="Salvar" action="#{PerguntaController.criarCategoria}" style="margin-top: 20px"
                                      oncomplete="cat.hide()" onsuccess="lazyload()" ajax="true" update="categoria"
                                      rendered="#{PerguntaController.categoria.id eq 0}" />
                     <p:commandButton value="Editar" action="#{PerguntaController.editarCategoria}" style="margin-top: 20px"
                                      oncomplete="cat.hide()" onsuccess="lazyload()" ajax="true" update="categoria"
                                      rendered="#{!(PerguntaController.categoria.id eq 0)}" />
                  </p:dialog>

                  <p:dialog id="pergunta" header="Criar nova pergunta" widgetVar="perg" modal="true" maximizable="true" >
                     <h:panelGrid id="corpo" border="0" columns="4" cellpadding="10px">
                        <h:outputText value="Texto:" />
                        <p:inputText value="#{PerguntaController.pergunta.texto}" style="width: 400px"/>

                        <h:outputText value="Ordem:" />
                        <p:inputText value="#{PerguntaController.pergunta.ordem}" style="width: 25px"/>

                        <h:outputText value="Comentario:" />
                        <p:inputTextarea value="#{PerguntaController.pergunta.comentario}" autoResize="true"
                                         style="width: 400px; height: 150px"/>
                        
                        <h:outputText value="Escala de Cores"/>
                        <p:selectBooleanCheckbox value="#{PerguntaController.escCores}"/>
                     </h:panelGrid>
                     <h:panelGroup id="qualif">
                        <h:panelGrid id="p" border="0" columns="2" cellpadding="10px">
                           <h:outputText value="Tipo: " />
                           <p:selectOneMenu value="#{PerguntaController.pergunta.tipo}" >
                              <f:selectItem itemLabel="Texto" itemValue="1" />
                              <f:selectItem itemLabel="Múltipla Escolha" itemValue="2" />
                              <f:selectItem itemLabel="Escolha Única" itemValue="3" />
                              <f:selectItem itemLabel="Intervalo Numérico" itemValue="4" />
                              <p:ajax update="qualif" />
                           </p:selectOneMenu>
                           <h:outputText value="Inicio:" rendered="#{PerguntaController.pergunta.tipo eq 4}" />
                           <p:inputText value="#{PerguntaController.qualificador.inicio}" style="width: 100px"
                                        rendered="#{PerguntaController.pergunta.tipo eq 4}" />

                           <h:outputText value="Fim:" rendered="#{PerguntaController.pergunta.tipo eq 4}" />
                           <p:inputText value="#{PerguntaController.qualificador.fim}" style="width: 100px;"
                                        rendered="#{PerguntaController.pergunta.tipo eq 4}" />

                           <h:outputText value="Opções:" rendered="#{(PerguntaController.pergunta.tipo eq 2) or (PerguntaController.pergunta.tipo eq 3)}" />

                           <h:panelGroup id="opcao">
                              <p:inputText id="op_input" value="#{PerguntaController.opcao}" style="width: 400px"
                                           rendered="#{(PerguntaController.pergunta.tipo eq 2) or (PerguntaController.pergunta.tipo eq 3)}" />


                              <p:commandButton icon="ui-icon-plusthick" action="#{PerguntaController.addOpcao}" ajax="true"
                                               title="Nova opcao" style="margin-left: 10px" update="qualificadores opcao"
                                               rendered="#{((PerguntaController.pergunta.tipo eq 2) or (PerguntaController.pergunta.tipo eq 3)) and !(PerguntaController.editando)}" />

                              <p:commandButton icon="ui-icon-check" action="#{PerguntaController.editOpcao}" ajax="true"
                                               title="Editar opcao" style="margin-left: 10px" update="qualificadores opcao"
                                               rendered="#{((PerguntaController.pergunta.tipo eq 2) or (PerguntaController.pergunta.tipo eq 3)) and (PerguntaController.editando)}" />
                           </h:panelGroup>
                           <p:remoteCommand name="lazyload3" update="opcao" action="#{PerguntaController.odd()}" />
                        </h:panelGrid>
                        <p:dataTable id="qualificadores" var="ops" value="#{PerguntaController.qualificadores}" paginator="true" rows="5"
                                     rendered="#{(PerguntaController.pergunta.tipo eq 2) or (PerguntaController.pergunta.tipo eq 3)}">
                           <p:column>
                              <f:facet name="header">
                                 Opções
                              </f:facet>
                              <h:outputText value="#{ops}" />
                           </p:column>
                           <p:column style="width:40px">
                              <p:commandButton id="select" action="#{PerguntaController.deleteOpcao}" icon="ui-icon-trash" title="Excluir"
                                               ajax="true" onsuccess="lazyload2()">
                                 <f:setPropertyActionListener value="#{ops}" target="#{PerguntaController.opcao}" />
                              </p:commandButton>
                           </p:column>

                           <p:column style="width:40px">
                              <p:commandButton id="edit_op" action="#{PerguntaController.changeToEdit}" icon="ui-icon-pencil" title="Editar"
                                               ajax="true" oncomplete="lazyload3()">
                                 <f:setPropertyActionListener value="#{ops}" target="#{PerguntaController.opcao}" />
                              </p:commandButton>
                           </p:column>
                        </p:dataTable>
                        <p:remoteCommand name="lazyload2" update="qualificadores" />
                     </h:panelGroup>
                     <p:commandButton value="Salvar" action="#{PerguntaController.criarPergunta}" style="margin-top: 20px"
                                      oncomplete="perg.hide()" ajax="true" update="pergunta" onsuccess="lazyload()"
                                      rendered="#{PerguntaController.pergunta.id eq 0}" />

                     <p:commandButton value="Editar" action="#{PerguntaController.editar}" style="margin-top: 20px"
                                      oncomplete="perg.hide()" ajax="true" update="pergunta" onsuccess="lazyload()"
                                      rendered="#{!(PerguntaController.pergunta.id eq 0)}" />
                  </p:dialog>

                  <p:dialog id="comod" header="Associe os cômodos desejados à pergunta" widgetVar="comodo" modal="true" >
                     <h:panelGrid id="grid_comodos" columns="3" cellpadding="10">
                        <p:dataTable var="com" value="#{PerguntaController.comodos}" rowKey="#{com.id}"
                                     selection="#{PerguntaController.comodoIn}" selectionMode="single" paginator="true"
                                     rows="10">
                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Cômodos disponíveis" />
                              </f:facet>
                              <h:outputText value="#{com.nome}" />
                           </p:column>
                        </p:dataTable>

                        <h:panelGroup>
                           <h:panelGrid columns="1">
                              <p:commandButton icon="ui-icon-arrow-1-e" action="#{PerguntaController.toTargetComodo}" update="grid_comodos" />
                              <p:commandButton icon="ui-icon-arrow-1-w" action="#{PerguntaController.toSourceComodo}" update="grid_comodos"
                                               style="margin-top: 2px" />
                           </h:panelGrid>
                        </h:panelGroup>

                        <p:dataTable var="com" value="#{PerguntaController.pergunta.comodos}"
                                     rowKey="#{com.id}" selectionMode="single"
                                     selection="#{PerguntaController.comodoOut}" >
                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Cômodos selecionados" />
                              </f:facet>
                              <h:outputText value="#{com.nome}" />
                           </p:column>
                        </p:dataTable>

                     </h:panelGrid>

                     <center>
                        <p:commandButton value="Ok" action="#{PerguntaController.associarComodo}" style="margin-top: 20px" 
                                         oncomplete="comodo.hide()" />
                     </center>
                  </p:dialog>

                  <p:dialog id="atrib" header="Associe os atributos desejados à pergunta" widgetVar="atributo" modal="true">
                     <h:panelGrid id="grid_atributos" columns="3" cellpadding="10">
                        <p:dataTable var="a" value="#{PerguntaController.atributos}" rowKey="#{a.id}"
                                     selection="#{PerguntaController.atributoIn}" selectionMode="single" 
                                     paginator="true" emptyMessage="Não há atributos" rows="10">
                           <p:column style="width: 10px">
                              <h:outputText value="#{a.id}"/>
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Atributos disponíveis"/>
                              </f:facet>
                              <h:outputText value="#{a.nome}"/>
                           </p:column>
                        </p:dataTable>

                        <h:panelGroup>
                           <h:panelGrid columns="1">
                              <p:commandButton icon="ui-icon-arrow-1-e" action="#{PerguntaController.toTargetAtributo}" update="grid_atributos"/>
                              <p:commandButton icon="ui-icon-arrow-1-w" action="#{PerguntaController.toSourceAtributo}" update="grid_atributos"
                                               style="margin-top: 2px"/>
                           </h:panelGrid>
                        </h:panelGroup>

                        <p:dataTable var="a" value="#{PerguntaController.pergunta.atributos}"
                                     rowKey="#{a.id}" selectionMode="single"
                                     selection="#{PerguntaController.atributoOut}">

                           <p:column style="width: 10px">
                              <h:outputText value="#{a.id}" />
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Atributos selecionados"/>
                              </f:facet>
                              <h:outputText value="#{a.nome}"/>
                           </p:column>
                        </p:dataTable>

                     </h:panelGrid>

                     <center>
                        <p:commandButton value="Ok" action="#{PerguntaController.associarAtributo}" style="margin-top: 20px" 
                                         oncomplete="atributo.hide()" />
                     </center>
                  </p:dialog>


                  <p:dialog id="icon" header="Associar um ícone" widgetVar="icone" width="800" height="600" modal="true">
                     <comp:icone_relacionar bean="#{PerguntaController}" />
                  </p:dialog>

                  <p:dialog id="concat" header="Adicionar Conceitos" widgetVar="concat" modal="true" maximizable="true" >
                     <h:panelGrid id="grid_conceitos" columns="3" cellpadding="10px">
                        <p:dataTable id="conceitos" var="conceito" value="#{PerguntaController.conceitos}" rowKey="#{conceito.id}"
                                     selection="#{PerguntaController.conceitosCategoria}" selectionMode="multiple" paginator="true"
                                     rows="5">
                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="ID" />
                              </f:facet>
                              <h:outputText value="#{conceito.id}" />
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Conceitos disponíveis" />
                              </f:facet>
                              <h:outputText value="#{conceito.nome}" />
                           </p:column>
                        </p:dataTable>
                        <h:panelGroup>
                           <h:panelGrid columns="1">
                              <p:commandButton icon="ui-icon-arrow-1-e" action="#{PerguntaController.toTarget}" update="grid_conceitos" />
                              <p:commandButton icon="ui-icon-arrow-1-w" action="#{PerguntaController.toSource}" update="grid_conceitos"
                                               style="margin-top: 2px" />
                              <p:commandButton action="#{PerguntaController.adicionarConceitoCategoria}" value="Salvar" 
                                               update="grid_conceitos" oncomplete="concat.hide()" style="margin-top: 10px"/>
                           </h:panelGrid>
                        </h:panelGroup>

                        <p:remoteCommand name="recarregar_grid" action="#{PerguntaController.odd()}" 
                                         update="conceitos" />

                        <p:dataTable id="conceitosSelecionados" var="conceito" value="#{PerguntaController.conceitosSelecionadosCategoria}"
                                     rowKey="#{conceito.id}"
                                     selection="#{PerguntaController.selecionadosConceitos}" selectionMode="multiple">
                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="ID" />
                              </f:facet>
                              <h:outputText value="#{conceito.id}" />
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Conceitos selecionados" />
                              </f:facet>
                              <h:outputText value="#{conceito.nome}" />
                           </p:column>
                        </p:dataTable>
                     </h:panelGrid>



                  </p:dialog>

                  <p:dialog id="new_conceito" header="Criar Conceito" widgetVar="novo_conceito" 
                            modal="true" maximizable="false" >

                     <comp:conceito_add componente="@form" object="#{ConceitoController.conceito}" />

                     <p:commandButton value="Salvar" action="#{ConceitoController.inserir}" ajax="true"
                                      style="margin-top: 10px" oncomplete="recarregar_conceitos()" />

                     <p:remoteCommand name="recarregar_conceitos" action="#{PerguntaController.prepararConceitos}" 
                                      oncomplete="recarregar_grid(); novo_conceito.hide()" />

                  </p:dialog>

                  <p:dialog id="conc" header="Adicionar Conceitos" widgetVar="conc" modal="true" maximizable="true" >
                     <h:panelGrid id="grid_perguntas" columns="3" cellpadding="5">
                        <p:dataTable id="conceitosPerguntas" var="conceito" value="#{PerguntaController.conceitosSelecionadosCategoria}" rowKey="#{conceito.id}"
                                     selection="#{PerguntaController.conceitosPergunta}" selectionMode="multiple" paginator="true" rows="10">

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="ID" />
                              </f:facet>
                              <h:outputText value="#{conceito.id}" />
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Conceitos disponíveis" />
                              </f:facet>
                              <h:outputText value="#{conceito.nome}" />
                           </p:column>
                        </p:dataTable>
                        <h:panelGroup>
                           <h:panelGrid columns="1">
                              <p:commandButton icon="ui-icon-arrow-1-e" action="#{PerguntaController.toTargetPergunta}" update="grid_perguntas" />
                              <p:commandButton icon="ui-icon-arrow-1-w" action="#{PerguntaController.toSourcePergunta}" update="grid_perguntas"
                                               style="margin-top: 2px" />
                           </h:panelGrid>
                        </h:panelGroup>
                        <p:dataTable id="conceitosPerguntaSelecionados" var="conceito" value="#{PerguntaController.conceitosSelecionadosPergunta}"
                                     rowKey="#{conceito.id}"
                                     selection="#{PerguntaController.conceitosSelecionadosPerg}" selectionMode="multiple">

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="ID" />
                              </f:facet>
                              <h:outputText value="#{conceito.id}" />
                           </p:column>

                           <p:column>
                              <f:facet name="header">
                                 <h:outputText value="Conceitos selecionados" />
                              </f:facet>
                              <h:outputText value="#{conceito.nome}" />
                           </p:column>
                        </p:dataTable>
                     </h:panelGrid>

                     <p:commandButton action="#{PerguntaController.adicionarConceitoPergunta}" value="Salvar" update="grid_conceitos"
                                      oncomplete="conc.hide()" style="margin-top: 10px" />

                     <p:commandButton action="#{PerguntaController.odd}" value="Novo Conceito" 
                                      oncomplete="novo_conceito.show()" style="margin-left: 10px" />
                  </p:dialog>

                  <p:confirmDialog message="Tem certeza que deseja excluir esta pergunta?"
                                   header="Excluir pergunta" severity="alert" widgetVar="confirmation">
                     <p:commandButton value="Sim" action="#{PerguntaController.excluirPergunta}" oncomplete="confirmation.hide()"
                                      onsuccess="lazyload()" />
                     <p:commandButton value="Não" onsuccess="lazyload()" onclick="confirmation.hide()" type="button" />
                  </p:confirmDialog>
                  <p:remoteCommand name="lazyload" update="tab" />

               </h:form>
            </f:view>
         </ui:define>
      </ui:composition>
   </h:body>
</html>