<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:comp="http://java.sun.com/jsf/composite/comp">
   <h:head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>APO</title>
   </h:head>
   <h:body>

      <style>
         .jqplot-point-label {
            font-size: 1em!important;
            color: white;
            z-index: 2!important;
         }
      </style>
      <ui:composition template="index.xhtml">

         <ui:param name="titulo" value="página" />

         <ui:define name="conteudo">
            <f:view contentType="text/html">
               <h:form id="form" prependId="false">
                  <center>
                     <h3>Consultas</h3>
                  </center>

                  <h:outputScript library="jqplot-plugins" name="jqplot.pointLabels.min.js"/>
                  
                  <h:commandButton value="Teste JFreeChart" action="#{FreeChartController.gerarGraficos()}"
                                   style="margin-top: 10px"/><br/>

                  <p:commandButton value="Gerar gráfico 1" action="#{ConsultasCruzadasController.aluguelSatisfacaoAnteriorBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 2" action="#{ConsultasCruzadasController.aluguelSatisfacaoAnteriorSucupira()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 3" action="#{ConsultasCruzadasController.aluguelSatisfacaoAtualBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 4" action="#{ConsultasCruzadasController.aluguelSatisfacaoAtualSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 5" action="#{ConsultasCruzadasController.satisfacaoLocalizacaoNaCidadeInclusaoBairroAnteriorBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 6" action="#{ConsultasCruzadasController.satisfacaoLocalizacaoNaCidadeInclusaoBairroAnteriorSucupira()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 7" action="#{ConsultasCruzadasController.satisfacaoLocalizacaoNaCidadeInclusaoBairroAtualBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 8" action="#{ConsultasCruzadasController.satisfacaoLocalizacaoNaCidadeInclusaoBairroAtualSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 9" action="#{ConsultasCruzadasController.rendaSentimentoAnteriorBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 10" action="#{ConsultasCruzadasController.rendaSentimentoAtualBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 11" action="#{ConsultasCruzadasController.rendaSentimentoAnteriorSucupira()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 12" action="#{ConsultasCruzadasController.rendaSentimentoAtualSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 13" action="#{ConsultasCruzadasController.posicaoFemininaBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 14" action="#{ConsultasCruzadasController.posicaoMasculinaBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 15" action="#{ConsultasCruzadasController.posicaoFemininaSucupira()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 16" action="#{ConsultasCruzadasController.posicaoMasculinaSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 17" action="#{ConsultasCruzadasController.reformaPrivacidadeVizinhos()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 18" action="#{ConsultasCruzadasController.reformaPrivacidadeMoradores()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 19" action="#{ConsultasCruzadasController.reformaAparencia()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 20" action="#{ConsultasCruzadasController.reformaNivelConvivencia()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 21" action="#{ConsultasCruzadasController.faixaEtariaInsatisfeitosEquipamentosColetivosBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 22" action="#{ConsultasCruzadasController.faixaEtariaInsatisfeitosEquipamentosColetivosSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 23" action="#{ConsultasCruzadasController.maiorDistanciaProximidadeEquipamentos()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 24" action="#{ConsultasCruzadasController.satTransColMeioTransMaisUtilizadoBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 25" action="#{ConsultasCruzadasController.satTransColMeioTransMaisUtilizadoSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 26" action="#{ConsultasCruzadasController.reformaAparenciaBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 27" action="#{ConsultasCruzadasController.reformaNivelConvivenciaBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 27" action="#{ConsultasCruzadasController.satisfeitosLocalizacaoTrabalhoBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 28" action="#{ConsultasCruzadasController.satisfeitosLocalizacaoTrabalhoSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <p:commandButton value="Gerar gráfico 29" action="#{ConsultasCruzadasController.bairroAnteriorBaltimore()}"
                                   style="margin-top: 10px" ajax="false"/>

                  <p:commandButton value="Gerar gráfico 30" action="#{ConsultasCruzadasController.bairroAnteriorSucupira()}"
                                   style="margin-top: 10px" ajax="false"/><br/>

                  <h:panelGroup style="margin-top: 20px" rendered="#{ConsultasCruzadasController.renderizar}">
                     <script>
                        function extLegend()
                        {
                           this.cfg.legend = {
                              show: true,
                              location: 'nw',
                              placement: 'outsideGrid'
                           };
                           this.cfg.axes.xaxis.tickOptions = {
                              formatString: '%#.2f'
                           };                                  
                        }
                        
                        jQuery.browser = {};
                        (function () {
                           jQuery.browser.msie = false;
                           jQuery.browser.version = 0;
                           if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                              jQuery.browser.msie = true;
                              jQuery.browser.version = RegExp.$1;
                           }
                        })();
                     </script>
                     <p:barChart value="#{ConsultasCruzadasController.grafico}" legendPosition="se" stacked="true"
                                 rendered="#{ConsultasCruzadasController.numQualificadores eq 5}"
                                 style="margin-top: 10px; height: 100px"
                                                              extender="extLegend" orientation="horizontal"
                                                              title="#{ConsultasCruzadasController.nome}"
                                                              max="100.00" widgetVar="chart_agrupado_cor"
                                                              seriesColors="006400, 9ACD32, FFD700, FF8C00, FF0000"/>

                                 <p:barChart value="#{ConsultasCruzadasController.grafico}" legendPosition="se" stacked="true"
                                             style="margin-top: 10px; height: 100px; width: 2000px"
                                             rendered="#{ConsultasCruzadasController.numQualificadores ne 5}"
                                             title="#{ConsultasCruzadasController.nome}"
                                             extender="extLegend" orientation="horizontal"
                                             max="100.00" widgetVar="chart_agrupado"/>

                                 <p:commandButton type="button" value="Exportar" icon="ui-icon-extlink"
                                                  onclick="exportChart()" style="margin-top: 50px"
                                                     update="@form" rendered="#{ConsultasCruzadasController.numQualificadores ne 5}"/>

                                                  <p:commandButton type="button" value="Exportar 2" icon="ui-icon-extlink"
                                                                   onclick="exportChart2()" style="margin-top: 50px"
                                                                   update="@form" rendered="#{ConsultasCruzadasController.numQualificadores eq 5}"/>
                                 </h:panelGroup>

                                 <p:dialog id="graf_img" widgetVar="dlg" showEffect="fade" modal="true" header="Gráfico Como Imagem"
                                           closeOnEscape="true" closable="true">
                                    <p:outputPanel id="output" layout="block" style="width:1200px; height:500px"/>
                                 </p:dialog>

                                 <p:dialog id="graf_img2" widgetVar="dlg2" showEffect="fade" modal="true" header="Gráfico Como Imagem"
                                           closeOnEscape="true" closable="true">
                                    <p:outputPanel id="output2" layout="block" style="width:1200px; height:500px"/>
                                 </p:dialog>

                                 <script type="text/javascript">
                                    function exportChart() {
                                       //export image
                                       $('#output').empty().append(PF('chart_agrupado').exportAsImage());

                                       //show the dialog
                                       PF('dlg').show();
                                    }
                        
                                    function exportChart2() {
                                       //export image
                                       $('#output2').empty().append(PF('chart_agrupado_cor').exportAsImage());

                                       //show the dialog
                                       PF('dlg2').show();
                                    }
                                 </script>
                     </h:form>
                  </f:view>
               </ui:define>
            </ui:composition>
         </h:body>
      </html>