<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APO</title>
    </h:head>
    <h:body>
        <f:view contentType="text/html">
            <h:form>
                <center>
                    <p:panel header="Inserir Questionário" style="width: 700px; height: 350px">
                        <h:panelGrid border="0" columns="2" cellpadding="10px">
                            <h:outputText value="Nome:" />
                            <p:inputText value="#{SessionController.questionario.nome}" style="width: 400px" />

                            <h:outputText value="Comentário:" />
                            <p:inputTextarea value="#{SessionController.questionario.texto}" autoResize="true"
                                             style="width: 400px; height: 150px" />
                        </h:panelGrid>
                        <p:commandButton value="Salvar" action="#{QuestionarioController.inserir}" ajax="true" update="@form"
                                         style="margin-top: 10px" rendered="#{SessionController.questionario.id eq 0}" >
                            <f:setPropertyActionListener value="#{SessionController.questionario}" target="#{QuestionarioController.questionario}" />
                        </p:commandButton>

                        <p:commandButton value="Editar" action="#{QuestionarioController.editar}" ajax="true" update="@form"
                                         style="margin-top: 10px" rendered="#{!(SessionController.questionario.id eq 0)}" >
                            <f:setPropertyActionListener value="#{SessionController.questionario}" target="#{QuestionarioController.questionario}" />
                        </p:commandButton>
                    </p:panel>
                </center>
            </h:form>
        </f:view>
    </h:body>
</html>