<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APO</title>
    </h:head>
    <h:body>

        <ui:composition template="index.xhtml">

            <ui:param name="titulo" value="página" />

            <ui:define name="conteudo">
                <f:view contentType="text/html">
                    <f:metadata>
                        <f:event type="preRenderView" listener="#{ConceitoController.carregarConceitos}" />
                    </f:metadata>
                    <h:form>

                        <center>
                            <p:pieChart value="#{GraficoController.grafico.pieModel}" legendPosition="w"
                                        title="#{GraficoController.grafico.pergunta.texto}" style="width:400px;height:300px" />
                        </center>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>