<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APO</title>
    </h:head>
    <h:body>

        <ui:composition template="index.xhtml">

            <ui:param name="titulo" value="página" />

            <ui:define name="conteudo">
                <f:view contentType="text/html">
                    <h:form>

                        <center>
                            <h3>Ícones</h3>
                        </center>

                        <p:fileUpload fileUploadListener="#{IconeController.handleFileUpload}"
                                      mode="advanced" style="margin-top: 15px; margin-bottom: 15px"
                                      sizeLimit="1000000" update="@form"
                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                        <p:dataGrid var="ic" value="#{IconeController.icones}" columns="6"
                                    rows="12" paginator="true" style="margin-top: 15px"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="9,12,15">

                            <img src="images/#{ic.titulo}.jpg" name="#{ic.titulo}" />
                        </p:dataGrid>

                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>