<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>APO</title>
        <meta name="description" content="Web Application" />
        <meta name="keywords" content="web, application" />
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer_beta/3.0/uo/UnityObject.js"></script>
        <script src="unity.js"/>
    </h:head>
    <h:body>
        <h:form></h:form>

        <div id="header">
            <h1><a href="apo.xhtml">APO</a></h1>
            <ul id="menu">
                <li class="active"><a href="apo.xhtml">APOs</a></li>
                <li><a href="conceitos.xhtml">Conceitos</a></li>
                <li><a href="comodo.xhtml">Cômodos</a></li>
                <li><a href="atributos.xhtml">Atributos</a></li>
                <li><a href="icone.xhtml">Ícones</a></li>
                <li><a href="migracao.xhtml">Migração de Dados</a></li>
                <li><a href="consultas.xhtml">Consultas</a></li>
                <li><a href="modelo_topologico.xhtml">Modelo Topológico</a></li>
            </ul>
        </div>

        <div id="bar"></div>

        <div class="wrap" style="margin-top: 20px">
            <ui:insert name="conteudo"/>
        </div>
         <!--
        <div id="footer" style="margin-top: 20px">
            <p>&copy; Copyright 2013 <a href="#">Projeto APO Digital</a> &middot; All Rights Reserved</p>
        </div> -->

    </h:body>
</html>