<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APO</title>
    </h:head>
    <h:body>

        <ui:composition template="index.xhtml">

            <ui:param name="titulo" value="página" />

            <ui:define name="conteudo">

                <f:view contentType="text/html">


                    <h:form id="form1">

                        <center>
                            <h3>Respostas: #{SessionController.apo.nome}</h3>
                        </center>

                        <p:tabView id="tab" style="margin-top: 20px" effect="clip" >
                            <c:forEach items="#{RespostaController.apo.metodos}" var="c">
                                <p:tab title="#{c.nome}">

                                    <center>
                                        <c:forEach items="#{c.categorias}" var="ct">
                                            <p:dataTable value="#{ct.perguntas}" var="p">
                                                <p:column >
                                                    <f:facet name="header">
                                                        Perguntas: #{ct.nome}
                                                    </f:facet>
                                                    <h:outputText value="#{p.texto}" />
                                                </p:column>

                                                <p:column style="width:40px">
                                                    <p:commandButton id="visualizar" icon="ui-icon-folder-open" action="respostas_visualizacao" ajax="false"
                                                                     title="Visualizar Respostas" >
                                                        <f:setPropertyActionListener value="#{p}" target="#{SessionController.pergunta}" />
                                                    </p:commandButton>
                                                </p:column>
                                            </p:dataTable> 
                                        </c:forEach>
                                    </center>
                                </p:tab>
                            </c:forEach>
                        </p:tabView>

                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>