<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <composite:interface>
            <composite:attribute name="componente" required="true" />
            <composite:attribute name="object" required="true" />
        </composite:interface>

        <composite:implementation>
            
            <h:panelGrid border="0" columns="2" cellpadding="10px">
                
                <h:outputText value="Nome:" />
                <p:inputText value="#{cc.attrs.object.nome}" style="width: 400px" />

            </h:panelGrid>
            
        </composite:implementation>
        
    </h:body>
</html>