<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body>
        <composite:interface>
            <composite:attribute name="managedBean" required="true" />
            <composite:attribute name="arrayIn" required="true" />
            <composite:attribute name="objectIn" required="true" />
            <composite:attribute name="object" required="true" />
        </composite:interface>

        <composite:implementation>

            <h:panelGrid id="grid_comodos" columns="3" cellpadding="10">
                <p:dataTable var="com" value="#{cc.attrs.arrayIn}" rowKey="#{com.id}"
                             selection="#{cc.attrs.objectIn}" selectionMode="single" >
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Cômodos disponíveis" />
                        </f:facet>
                        <h:outputText value="#{com.nome}" />
                    </p:column>
                </p:dataTable>

                <h:panelGroup>
                    <h:panelGrid columns="1">
                        <p:commandButton icon="ui-icon-arrow-1-e" action="#{PerguntaController.toTargetComodo}" update="grid_comodos" />
                        <p:commandButton icon="ui-icon-arrow-1-w" action="#{PerguntaController.toSourceComodo}" update="grid_comodos"
                                         style="margin-top: 2px" />
                    </h:panelGrid>
                </h:panelGroup>

                <p:dataTable var="com" value="#{PerguntaController.pergunta.comodos}"
                             rowKey="#{com.id}" selectionMode="single"
                             selection="#{PerguntaController.comodoOut}" >
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Cômodos selecionados" />
                        </f:facet>
                        <h:outputText value="#{com.nome}" />
                    </p:column>
                </p:dataTable>

            </h:panelGrid>

        </composite:implementation>

    </h:body>
</html>