<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body>
        <composite:interface>
            <composite:attribute name="perguntas" required="true"/>
            <composite:attribute name="comodos" required="true"/>
            <composite:attribute name="managed_bean" required="true"/>
        </composite:interface>

        <composite:implementation>
            <h:panelGrid id="grid_uso_comum" columns="1" cellspacing="10px">
                <!-- Pergunta para escolha dos cômodos que existem no condomínio -->
                <h:panelGrid columns="1" cellspacing="10px">
                    <h:outputText value="SELECIONE OS EQUIPAMENTOS EXTERNOS PRESENTES NO SEU RESIDENCIAL:"/>
                    <h:panelGroup>
                        <!-- Listagem dos cômodos -->
                        <p:dataGrid id="grid_comodos" value="#{cc.attrs.comodos}" var="c" columns="#{cc.attrs.comodos.size()}">
                            <p:commandButton value="#{c.nome}" action="#{cc.attrs.managed_bean.alterarEstadoComodo(c.id)}"
                                             rendered="#{!cc.attrs.managed_bean.comodoEscolhido(c.id)}"
                                             update="@form"/>
                            <p:commandButton value="#{c.nome}" action="#{cc.attrs.managed_bean.alterarEstadoComodo(c.id)}"
                                             style="background-color: greenyellow" rendered="#{cc.attrs.managed_bean.comodoEscolhido(c.id)}"
                                             update="@form"/>
                        </p:dataGrid>
                    </h:panelGroup>
                </h:panelGrid>
                <ui:repeat value="#{cc.attrs.perguntas}" var="p">
                    <tr>
                        <td>
                            <!-- Na sessão uso comum só serão mostradas as perguntas que não sejam abertas -->
                            <p:panel>
                                <h:panelGrid>
                                    <h:outputText value="#{p.texto}"/>
                                    <ui:repeat value="#{p.comodos}" var="cm" rendered="#{!p.simples}">
                                        <tr>
                                            <td>
                                                <h:panelGrid columns="1" cellspacing="10px" rendered="#{cc.attrs.managed_bean.comodoEscolhido(cm.id)}">
                                                    <h:outputText value="#{cm.nome}"/>
                                                    
                                                    <h:panelGroup rendered="#{p.tipo eq 1}">
                                                        <p:inputTextarea value="#{cm.resposta}"/>
                                                    </h:panelGroup>
                                                    
                                                    <!-- tipo de reposta múltipla escolha -->
                                                    <h:panelGroup rendered="#{p.tipo eq 2}">
                                                        <p:selectManyCheckbox value="#{cm.idQualificadores}" styleClass="selectRadio">
                                                            <f:selectItems value="#{p.qualificadores}" var="q"
                                                                           itemLabel="#{q.texto}" itemValue="#{q.id}"/>
                                                        </p:selectManyCheckbox>
                                                    </h:panelGroup>

                                                    <!-- tipo de reposta escolha única -->
                                                    <h:panelGroup rendered="#{p.tipo eq 3}">
                                                        <p:selectOneRadio value="#{cm.idQualificador}" styleClass="selectRadio">
                                                            <f:selectItems value="#{p.qualificadores}" var="q" 
                                                                           itemLabel="#{q.texto}" itemValue="#{q.id}"/>
                                                        </p:selectOneRadio>
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                            </td>
                                        </tr>
                                    </ui:repeat>
                                    <h:panelGroup rendered="#{p.simples}">
                                        <!-- Caso onde o tipo de reposta é texto livre -->
                                        <h:panelGroup rendered="#{p.tipo eq 1}">
                                            <p:inputTextarea value="#{p.resposta}"/>
                                        </h:panelGroup>

                                        <!-- tipo de reposta múltipla escolha -->
                                        <h:panelGroup rendered="#{p.tipo eq 2}">
                                            <p:selectManyCheckbox value="#{p.idQualificadores}" styleClass="selectRadio">
                                                <f:selectItems value="#{p.qualificadores}" var="q" 
                                                               itemLabel="#{q.texto}" itemValue="#{q.id}"/>
                                            </p:selectManyCheckbox>
                                        </h:panelGroup>

                                        <!-- tipo de reposta escolha única -->
                                        <h:panelGroup rendered="#{p.tipo eq 3}">
                                            <p:selectOneRadio value="#{p.idQualificador}" styleClass="selectRadio">
                                                <f:selectItems value="#{p.qualificadores}" var="q"
                                                               itemLabel="#{q.texto}" itemValue="#{q.id}"/>
                                            </p:selectOneRadio>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGrid>
                            </p:panel>
                        </td>
                    </tr>
                </ui:repeat>
            </h:panelGrid>
        </composite:implementation>

    </h:body>
</html>